.breadcrumb {
    display: none;
}

#opac-user li.card_expired ~ li.card_expired {
    display: none;
}

#opac-user li.too_many ~ li.too_many {
    display: none;
}

#opac-user li.too_soon ~ li.too_soon {
    display: none;
}

#opac-user li.on_reserve ~ li.on_reserve {
    display: none;
}

#opac-user li.auto_too_soon ~ li.auto_too_soon {
    display: none;
}

#opac-user li.auto_renew ~ li.auto_renew {
    display: none;
}
